* {
  box-sizing: border-box;
}

.App {
  margin-top: 15px;
}

textarea {
  height: 90vh;
  width: 50%;
  float: left;
  resize: vertical;
  padding: 15px;
}

#previewer {
  width: 50%;
  height: 600px;
  float: left;
  padding: 10px;
}